.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

.star-color {
    color: #f90;
}

.hotel-price {
  text-align: right;
}

.align-center {
  text-align: center;
}
